body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.body-container {
    padding: 125px;
    padding-top: 0px;
    padding-bottom: 25px;
    background: #393E46;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .body-container {
        padding: 15px;
        padding-top: 0px;
    }
}

@media (min-width: 1025px) {
    .body-container {
        padding: 125px;
        padding-top: 0px;
        padding-bottom: 25px;   
    }
}